{% extends "::base.html.twig" %}

{% set mainMenu = 'processes' %}

{% block content %}
<div class="contentTitle">
  <h1><span class="icon-cog"></span> Processes</h1>
  <h2>View the processed data</h2>  
</div>

<div class="contentBox">
  <table class="table" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Array</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Last Step</th>
        <th>Last Status</th>    
        <th>Details</th>    
      </tr>
    </thead>
    <tbody>
      {% for process in processes %}
      <tr>
        <td class="tac">{{ process.id }}</td>
        <td class="tac">{{ process.name }}</td>
        <td class="tac">{{ process.start_date }}</td>
        <td class="tac">{{ process.end_date }}</td>
        <td class="tac">{{ process.step_name }}</td>
        <td class="tac">
          {% if process.status == 1 %}
          <div class="array-status array-success"></div>
          {% else %}
          <div class="array-status array-error"></div>
          {% endif %}
        </td>
        <td class="tac">
          <a href="{{ path('process_detail', { id : process.id }) }}"><span class="iconf-plus"></span> See more</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}